<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="{{ site.description }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@huseyinozyilmaz">
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="twitter:creator" content="@huseyinozyilmaz">
    <meta name="twitter:title" content="{{ site.author }} · {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{page.excerpt | strip_html}}">
    <meta property="og:site_name" content="{{ site.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <title>{{ site.author }} · {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% if site.mode == "online" %}
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display|Merriweather:300'>
    {% endif %}
    <link rel="stylesheet" href="/assets/styles/ionicons.min.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64">
    <link rel="icon" type="image/png" href="/assets/images/meta/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/images/meta/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/meta/favicon-48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/assets/images/meta/favicon-64.png" sizes="64x64">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if site.mode == "online" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/1.0.0/lunr.min.js"></script>
    {% else %}
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/lunr.min.js"></script>
    {% endif %}
    <script src="/assets/scripts/main.js"></script>
</head>
