{% if site.mode == "online" %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.18.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/1.0.0/lunr.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% else %}
  <script src="/assets/scripts/jquery.min.js"></script>
  <script src="/assets/scripts/jquery.validate.min.js"></script>
  <script src="/assets/scripts/lunr.min.js"></script>
  <script src="/assets/scripts/sweetalert.min.js"></script>
{% endif %}
  <script src="/assets/scripts/main.js"></script>
