:root {
  --text-color: #15141B;
  --bg-color: #fff;
  --link-color-dark:#EAB2A0;
  --link-color-dark-90:#EBCFC5;
  --link-color:#082F49;
  --link-color-90: #A76F6F;
  --text-color-dark: #fff;
  --bg-color-dark: #15141B;
  --bg-color-dark-90: #272532;

  --color-gray-20: #ABB2BF;
  --color-gray-50: #616263;
  --color-gray-80: #343536;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  letter-spacing: 0.15rem;
  font-size: 16px;
  
}
body.dark {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}
a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  color: var(--link-color-90);
}
body.dark a {
  color: var(--link-color-dark);
}
body.dark a:hover {
  color: var(--link-color-dark-90);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  margin-top: 50px;
}
.profile-photo {
  width: 156px;
  height: 156px; 
  border-radius: 100%;
  margin: auto;
}
.profile-name {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.profile-title {
  font-weight: 300;
  margin: 0px;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding: 0 20px;
}
.theme-switch {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px; 
  width: 26px; 
  height: 26px; 
  opacity: 75%;
  cursor: pointer; 
  background-color: transparent; 
  border: none;
}
.icon-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #eee;
  border-radius: 100%;
}

body.dark .icon-btn {
  background-color: var(--bg-color-dark-90);
  color: #fff;
}
body.dark footer {
  background-color: var(--bg-color-dark);
}

path {
  fill: var(--bg-color-dark);
}
body.dark path {
  fill: var(--bg-color);
}

.info {
  padding: 30px 5%;
  max-width: 900px;
  text-align: left;
  margin: 0 auto;
  letter-spacing: 2px;
}

/* Page Sections */
.page-section {
  padding: 2rem 5%;
  text-align: left;
  max-width: 900px;
  margin: auto;
}
.page-section p {
  font-size: 0.8rem;
  padding: 0.5rem 0px;
}
.page-section-header {
  text-transform: uppercase;
  font-size: 1rem;
}

/* Work Areas */
.work-areas {
  padding-top: 10px;
}
.work-areas-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.work-areas-item {
  width: 10rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.work-areas-item-icon {
  width: 2rem;
}
.work-areas-item-label {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  text-align: center;
  padding-top: 0.75rem/* 12px */;
  padding-bottom: 0.75rem/* 12px */;
}

/* Resume */
.resume ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  position: relative;
  display: inline-block;
  padding-top: 1rem;
}
.resume ul:before{
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.07);
}
body.dark .resume ul:before {
  background-color: var(--color-gray-50);
}
.resume ul li{
  cursor: auto;
  margin: 0px;
  width: 100%;
  float: left;
  position: relative;
  padding-left: 20px;
  padding-bottom: 35px;
}
.resume ul li:last-child{padding-bottom: 0px;}
.resume ul li:before{
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background: #ecf0f3;
  border-radius: 100%;
  border: solid 1px #CCC;
  left: -9px;
  top: 12px;
}
body.dark .resume ul li:before {
  background-color: var(--color-gray-50);
}
.resume-item {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  position: relative;
}
.resume-item-header {
  width: 130px;
  padding-right: 20px;
}
.resume-item-header-period {
  display: inline-block;
  padding: 10px 0.5rem;
  background-color: rgb(228 228 231);
  white-space: nowrap;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  width: 118px;
}
body.dark .resume-item-header-period {
  background-color: var(--color-gray-80)
}
.resume-item-body {
  width: 100%;
  padding-left: 0.5rem;
  letter-spacing: 0.025em;
}
.resume-item-body-organisation {
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  margin-bottom: 2px;
  font-weight: 700;
}
.resume-item-body-title {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight:400;
}

nav {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 1rem;
}

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  font-size: 10px;
  background-color: var(--bg-color);
  height: 20px;
}

.error-card {
  margin-top: 4%;
}
.error-code {
  margin-top: 4%;
  font-size: 7rem;
  font-weight: 900;
  line-height: 7rem;
}
.error-title {
  text-transform: uppercase;
  padding: 0 50px;
}
.error-desc {
  font-size: small;
  letter-spacing: 1px;
  padding: 10px 50px;
}
.home-btn {
  padding: 6px 10px;
  border: 1px solid var(--text-color);
  text-transform: uppercase;
  margin: 2rem;
  display: inline-block;
}
body.dark .home-btn {
  border: 1px solid var(--text-color-dark);
  color: var(--text-color-dark);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  header {
    margin-top: 100px;
  }
  .profile-name {
    font-size: 2rem;
  }
  .profile-title {
    font-size: 1rem;
  }
  .info {
    text-align: justify;
    letter-spacing: 0.15rem;
    padding: 45px 5%;
    font-size: 1.1rem;
  }
  .page-section {
    padding: 3rem 5%;
  }
  .page-section-header {
    font-size: 2rem;
  }
  .page-section p {
    font-size: 1rem;
  }
  .error-code {
    font-size: 10rem;
    line-height: 10rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }