@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply tracking-widest;
    @apply font-light;
  }
  a {
    @apply uppercase;
    @apply font-semibold;
    @apply text-sm;
    @apply text-emerald-700;
    @apply text-blue-700;
    @apply text-fuchsia-700;
    @apply text-teal-700;

    @apply text-midnight;
  }
}

@layer components {
  .post p {
    padding: 0.75rem 0px;
  }
  .post img {
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
  .post h2 {
    padding-top: 1.2rem;
  }
  .post h2 > a {
    font-size: 1.1rem;
  }
  .post ul {
    list-style-type: square;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  .post li {
    padding: 0.4rem 0;
  }
}

/* 
--bg-color-dark: #15141B
--bg-color-dark-90: #272532
Dark-link color #EAB2A0 

*/