body { 
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
    font-weight: 300; 
    font-size: 16px; 
    background: #eee;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
h1 > a {
    color: #d0021b;
}
a { 
    text-decoration: none; 
    color: #1756a9;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.card {
    width: 280px;
    height: 450px;
    border: 1px solid #aaa;
    border-radius: 16px;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.site-title {
    font-size: 140%;
    margin-bottom: 0;
}
.error-code {
    font-size: 700%;
    margin: 0px;
}
.error-title {
    margin-top: -20px;
    padding: 0;
    font-size: 90%;
    opacity: 0.8;
}
.error-title:after {
    content: '';
    width: 250px;
    height: 1px;
    margin-top: 25px;
    background-color: #eee;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.actions-wrapper {
    text-align: left;
    padding-top: 5px;
}