@import 'tailwindcss';

@theme {
  --color-midnight: #2d4356;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility post {
  & p {
    padding: 0.75rem 0px;
  }
  & img {
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
  & h2 {
    padding-top: 1.2rem;
  }
  & h2 > a {
    font-size: 1.1rem;
  }
  & ul {
    list-style-type: square;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  & li {
    padding: 0.4rem 0;
  }
}

/* 
--bg-color-dark: #15141B
--bg-color-dark-90: #272532
Dark-link color #EAB2A0 

*/

@layer base {
  body {
    @apply tracking-widest;
    @apply font-light;
  }
  a {
    @apply uppercase;
    @apply font-semibold;
    @apply text-sm;
    @apply text-emerald-700;
    @apply text-blue-700;
    @apply text-fuchsia-700;
    @apply text-teal-700;

    @apply text-midnight;
  }
}